@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    transition-duration: 300ms;
}

body {
    background-color: #F9FAFF;
}

header {
    font-family: 'Roboto', sans-serif;
}


.container {
    margin: auto;
    padding: 1rem 10% 0;
}

.underline {
    width: 100px;
    margin: .5rem auto;
    outline: .2rem solid #FDC435;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
}

button {
    outline: none;
    font-family: 'Roboto', sans-serif;
}
button:hover {
    transition: 100ms ease-in-out;
}