#nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#nav-bar .right {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
}
.nav-link {
    position: relative;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}