#projects-list {
  width: 60%;
  margin: 5rem auto;
}
#projects-list h1 {
  font-size: 3rem;
  width: fit-content;
  margin: auto;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: white;
  border-radius: 1.5rem;
  margin-top: 4rem;
  height: 30rem;
  overflow: hidden;
  filter: drop-shadow(0px 6px 16px rgba(112, 144, 176, .2));
}
.project .left {
  width: 50%;
}
.project .left .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  margin: auto;
}

.project .left .content ul {
  list-style: square;
  margin-left: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.project .left .content ul li {
  text-align: start;
}

.project-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.project-buttons button {
  cursor: pointer;
  border-radius: .5rem;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: .5rem 1.2rem;
  background: white;
  border: 2px solid black;
  width: 10rem;
}

.project-buttons button:hover {
  background-color: #FDC435;
}

.project .right {
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Responsive layout */
@media screen and (max-width: 1279px) {
  #projects-list {
    width: 90%;
    margin: auto;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .project .left {
    width: 100%;
  }

  .project .right {
    display: none;
  }
}